@(groupForm: Form[Group])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import helper._

@main("Группа") {
    <h1>Создание группы</h1>
    @form(routes.GroupController.save(), 'id -> "createGroupForm") {
        <fieldset>
        @inputText(groupForm("code"), '_label -> "Код")
        </fieldset>
    }
    <div>
        <button class="btn btn-primary" onclick="sendPostRequest(
                'createGroupForm',
                '@routes.HomeController.home'
        )">Сохранить</button>
        <a href="@routes.HomeController.home" class="btn">Отмена</a>
    </div>
}
