@(id: Long, departmentForm: Form[Department], students: List[Student])(implicit request: RequestHeader, messagesProvider: MessagesProvider)

@import views.html.students.departmentStudentTable
@import helper._

@main("Кафедра") {
    <h1>Редактирование кафедры</h1>
    @form(routes.DepartmentController.update(id), 'id -> "editDepartmentForm") {
        <fieldset>
            @inputText(departmentForm("name"), '_label -> "Наименование")
        </fieldset>
    }
    @departmentStudentTable(id, students)
    <div>
        <button class="btn btn-primary" onclick="sendFormPutRequest(
                'editDepartmentForm',
                '@routes.HomeController.home'
        )">Сохранить</button>
        <a href="@routes.HomeController.home" class="btn">Отмена</a>
    </div>
}
